<form>
    <div class="mb-3 text-center" >
        <h2>Inscription</h2>
    </div>
    <div class="mb-3">
        <label class="form-label">Nom</label>
        <input class="form-control" placeholder="Votre Nom ici" [(ngModel)]="utilisateur.nom" name="nom" type="text">
    </div>
    <div class="mb-3">
        <label class="form-label">Prenom</label>
        <input class="form-control" placeholder="Votre Prenom ici" [(ngModel)]="utilisateur.prenom" name="prenom" type="text">
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" placeholder="Votre email ici" [(ngModel)]="utilisateur.email" name="email" type="email">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control" placeholder="Votre Password ici" [(ngModel)]="utilisateur.password" name="password" type="password">
    </div>
    <div class="mb-3 text-center">
        <button class="btn btn-primary">S'inscrire</button>
        <br>
        <a routerLink="../">Se connecter</a>    </div>
</form>